body {
    margin: 0;
    font-family: "Noto Serif TC";
    font-weight: 50;
    background-color: #dcdcdc;
}
#div1{
    border: 20;
    border-style:groove;
    border-width: 5px;
    border-color: black;
    float: left;
    position: fixed;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 2%;
    width: 21%;
    height: 70%;

    background-color: #5f9ea0;
}
#div2{
    border: 20;
    border-style:groove;
    border-width: 5px;
    border-color: black;
    float: right;
    margin-top: 6%;
    margin-right: 8%;
    margin-bottom: 3%;
    height: 5000px;
    width: 63%;
    background-color: #696969;
}
#div3{
    border-style: dotted;
    border-width: 4px;
    border-color: orange;
    background-color: wheat;
    margin-left: 5%;
    width: 90%;
    height: 5%;
}
#p1{
    white-space: normal;
    word-wrap:break-word;
    word-break: break-all;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 28px;
    line-height: 1;
    color: #eee8aa;
}
@keyframes type {
    from { width: 0 }
}
@keyframes type-border{
    50% { border-color:transparent; }
}
.an{
    word-wrap:break-word;
    word-break: break-all;
    width: 5em;
    overflow: hidden;
    white-space: nowrap;
    color: white; 
    font-size: 50px;
    border-right: .05em solid;
    animation: type 0.4s steps(7),
        type-border 0.5s steps(1) infinite;
}
.ball{
    font-family: 微軟正黑體 !important;
    float: left;
    height: 130px;
    width: 130px;
    border-radius:999em;
    background-color: blue;
    margin-left: 3%;
    margin-top: 5%;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
