body {
    margin: 0;
    font-family: "Noto Serif TC";
    font-weight: 50;
}
#div1{
    float: left;
    position: fixed;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 2%;
    width: 34%;
    height: 70%;

    background-color: green;
}
#div2{
    float: right;
    margin-top: 6%;
    margin-right: 3%;
    height: 5000px;
    width: 55%;
    background-color: red;
}
